<!DOCTYPE html>
<html>

<head>
    <title>laBook | Scan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/6be837db5c.js" crossorigin="anonymous"></script>
    <script>
        function cancelScan() {
            window.location.href = "{% if location_code %}{{ url_for('books.manage_book_page', location_code_override=location_code) }}{% else %}{{ url_for('books.manage_book_page') }}{% endif %}";
        }
    </script>
</head>

<body>
    <button id='backPage' onclick='cancelScan()' style="width: fit-content;">
        <i class="fa-solid fa-left-long"></i>
    </button>
    <h3><i class="fa-solid fa-location-dot"></i> {{ location_code }}</h3>
    <br>
    <h2><i class="fa-solid fa-mobile-screen-button"></i> Scan Book</h2>
    <br>
    <h3>
        <font color="green"><i class="fa-solid fa-circle-check"></i></font> <i class="fa-solid fa-barcode"></i>
        978xxxxxxxxxx
        <br>
        <font color="red"><i class="fa-regular fa-rectangle-xmark"></i></font> <i class="fa-solid fa-barcode"></i>
        192xxxxxxxxxx
    </h3>
    <div><canvas id="preview"></canvas></div>
    <input id="jan" readonly style="width: 100px; text-align: center;" placeholder="xxxxxxxxxxxxx"></input>
</body>